@charset "UTF-8";
/* Цвет основного текста #757575 */
/* Цвет вторичного текста #212121 */
/* Цвет другого текста #FFFFFF */
/* Цвет наведения и акцент #2196F3*/
/* Цвет в футере rgba(255, 255, 255, 0.6)*/
/* Цвет фона вторичный #F5F4FA*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* стиль ссылок*/
a {
  color: #212121;
  text-decoration: none;
  transition: all 250ms linear;
}

a:hover, a:focus {
  color: #2196F3;
}

/*кнопка*/
.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  border: 1px solid transparent;
  cursor: pointer;
  font-weight: 500;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* стиль оглавлений секций*/
.section-title {
  font-size: 36px;
  line-height: 1.22;
  margin-bottom: 50px;
}

.section-title,
.name {
  color: #212121;
  text-align: center;
  margin-top: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* стиль логотипа*/
.logo {
  font-size: 24px;
  line-height: 1.16;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #212121;
  margin-right: 88px;
}

@media (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}

.logo-word {
  color: #2196F3;
}

.site-nav a {
  color: #212121;
  font-weight: 500;
}

.site-nav li {
  display: block;
  margin-right: 50px;
}

.site-nav li:last-child {
  margin-right: 0;
}

header .site-nav {
  display: none;
  align-items: center;
  justify-items: center;
}

header .site-nav a {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .site-nav a:hover, header .site-nav a:focus {
  color: #2196F3;
}

@media (min-width: 768px) {
  header .site-nav {
    display: inline-flex;
  }
}

.site-nav .link.current {
  color: #2196F3;
}

.current {
  position: relative;
}

.current::after {
  content: "";
  display: block;
  background-color: #2196F3;
  border-color: #2196F3;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  margin-top: 28px;
  position: absolute;
}

/* Расположение шапки */
nav {
  justify-content: flex-start;
  align-items: center;
}

.site-nav-item:hover, .site-nav-item:focus {
  color: #2196F3;
}

header {
  border: 1px solid #ececec;
  padding-bottom: 16px;
  padding-top: 15px;
  position: relative;
}

@media (min-width: 768px) {
  header {
    padding-bottom: 21px;
    padding-top: 20px;
  }
}

@media (min-width: 1200px) {
  header {
    padding-bottom: 26px;
    padding-top: 25px;
  }
}

header .header-site-address {
  display: none;
}

@media (min-width: 768px) {
  header .header-site-address {
    display: block;
  }
}

@media (min-width: 1200px) {
  header .header-site-address {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

header .header-site-address a {
  color: #757575;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .header-site-address a:hover, header .header-site-address a:focus {
  color: #2196F3;
}

@media (min-width: 768px) {
  header .header-site-address a {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media (min-width: 1200px) {
  header .header-site-address a {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-site-address-item:not(:last-child) {
  margin-right: 50px;
}

.header-site-address-svg {
  height: 16px;
  width: 18px;
  fill: currentColor;
  vertical-align: middle;
  margin-right: 10px;
}

/* Расположение шапки */
.header-address-section {
  align-items: center;
  justify-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.header-container {
  align-items: center;
  display: flex;
}

.menu-button {
  border: none;
  background-color: transparent;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196F3;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-container {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .menu-container {
    width: auto;
  }
}

.toclose {
  display: none;
}

.header-menu {
  display: none;
  opacity: 1;
  visibility: visible;
  position: absolute;
  background-color: white;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  top: 60;
  z-index: 1;
}

.header-menu .site-nav > li {
  margin-bottom: 40px;
  margin-right: 0;
}

.header-menu .header-site-address {
  margin-bottom: 60px;
}

.header-menu .header-site-address-item:first-child {
  margin-bottom: 16px;
}

.header-menu .header-site-address-item {
  margin-right: 0;
}

.header-menu .header-site-address-item a {
  color: #757575;
}

.header-menu .current::after {
  right: 50%;
  transform: translateX(50%);
  margin-top: 8px;
}

.header-menu a {
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.header-menu.is-open {
  display: block;
  top: 60px;
  z-index: 1;
  text-align: center;
  padding-top: 60px;
}

.menu-button.is-open .burger {
  display: none;
}

.menu-button.is-open .toclose {
  display: block;
}

.site-nav-item:focus {
  color: #2196F3;
}

/* стиль футера*/
footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

footer .social-item-svg {
  fill: #FFFFFF;
}

footer .social-links-list {
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  footer .social-links-list {
    justify-content: left;
  }
}

.footer {
  display: block;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }
}

.footer-link-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-item {
  text-align: center;
}

.footer-item:not(:last-child) {
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .footer-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .footer-item li:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media (min-width: 1200px) {
  .footer-item:last-child {
    min-width: 540px;
  }
}

@media (min-width: 1200px) {
  .footer-item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer-sign-form {
  display: block;
}

@media (min-width: 1200px) {
  .footer-sign-form {
    display: flex;
  }
}

.footer-item {
  width: 100%;
}

@media (min-width: 768px) {
  .footer-item {
    width: 369px;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .footer-item {
    width: 270px;
  }
}

.logo-footer {
  color: #FFFFFF;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

.post-adres {
  font-size: 14px;
  line-height: 1.7;
  color: #FFFFFF;
}

.contact-us {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.join {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

address {
  font-style: normal;
}

.padding {
  padding-top: 94px;
  padding-bottom: 94px;
}

.sign-button {
  height: 50px;
  width: 200px;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  fill: #FFFFFF;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .sign-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sign-button:hover, .sign-button:focus {
  background-color: #FFFFFF;
  color: #2196F3;
  fill: #2196F3;
}

.send-item-svg {
  fill: currentColor;
}

.send-item-svg:hover, .send-item-svg:focus {
  fill: #2196F3;
}

.sign-form-input {
  height: 50px;
  width: 100%;
  margin-right: 12px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 768px) {
  .sign-form-input {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .sign-form-input {
    width: 358px;
  }
}

@media (min-width: 1200px) {
  .sign-form-input {
    padding-left: 16px;
  }
}

@media (min-width: 768px) {
  .sign {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .sign {
    width: 358px;
  }
}

.social-item-svg {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.social-links-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  width: 44px;
  height: 44px;
  background-size: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  fill: #FFFFFF;
  background-color: #2196F3;
}

/* стиль примеров портфолио*/
.example-details {
  font-size: 18px;
  line-height: 1.55;
}

.example-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-type {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  font-weight: 400;
}

main .padding {
  padding-top: 60px;
}

@media (min-width: 1200px) {
  main .padding {
    padding-top: 94px;
  }
}

/* Позиционирование страницы Портфолио */
.site-nav-item:focus {
  color: #2196F3;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 0;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .button-list {
    justify-content: center;
    flex-wrap: unset;
  }
}

.button-list li:not(:last-child) {
  margin-right: 8px;
}

.button-list li {
  margin-bottom: 21px;
}

@media (min-width: 768px) {
  .button-list li {
    margin-bottom: 0px;
  }
}

.exampel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 56px;
}

@media (min-width: 768px) {
  .exampel-list {
    justify-content: space-between;
  }
}

.exampel-list a {
  color: #212121;
  text-decoration: none;
  transition: all 250ms linear;
  display: block;
}

.exampel-list > li {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .exampel-list > li {
    width: calc((100% - 30px) / 2);
  }
  .exampel-list > li:nth-child(odd) {
    margin-right: 30px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .exampel-list > li:nth-child(odd) {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .exampel-list > li {
    width: 370px;
  }
}

@media (min-width: 1200px) {
  .exampel-list > li:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .exampel-list > li:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.exampel-list > li:hover, .exampel-list > li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-description {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.overlay {
  padding: 63px 24px;
  margin-right: 0;
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lists {
  position: relative;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.exampel-list li:hover .overlay {
  opacity: 1;
  transform: translateY(0%);
}
/*# sourceMappingURL=portfolio.css.map */