  $primery-text-color: #757575;
  $title-text-color: #212121;
  $accent-color: #2196F3;
  $other-color: #FFFFFF;
  $footer-color: rgba(255, 255, 255, 0.6);
  $footer-background: #2F303A;

/* Цвет основного текста #757575 */
/* Цвет вторичного текста #212121 */
/* Цвет другого текста #FFFFFF */
/* Цвет наведения и акцент #2196F3*/
/* Цвет в футере rgba(255, 255, 255, 0.6)*/
/* Цвет фона вторичный #F5F4FA*/